{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika&family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
        <div class="banner">
            <div>
                <h1>Mecanismo de muelle</h1>
                <p id="menu-button">≣ Menu</p>
            </div>
            <img src="{% static 'img/robot_bote.png' %}" alt="Logo de robot en bote"
            width="200px">
        </div>
        <hr color=#f7ce3e>
        <div class="body">
                {% block body_content %}
                    <p>Hola amiguito</p>
                {% endblock %}
        </div>
        <hr color=#f7ce3e>
        <div class="footer">
            <p>Aplicación web creada por mí utilizando Django. 2023.</p>
        </div>
        <script src="{% static '/js/script.js'%}"></script>
    </div>
</body>
</html>