{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika&family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
        <div class="banner">
            <div>
                <a href="{% url 'index' %}">
                    <h1>Mecanismo de muelle</h1>
                </a>
                <p id="menu-button">≣ Menu</p>
                <div class="dropdown" id="dropdown">
                    <a href="{% url 'index' %}" class="menu-item">Bienvenida</a>
                    <a href="{% url 'simulacion' %}" class="menu-item">Simulación</a>
                    <a href="{% url 'sobre_el_proyecto' %}" class="menu-item">Sobre el proyecto</a>
                    <a href="{% url 'contacto' %}" class="menu-item">Contacto</a>
                    <a href="{% url 'robot' %}" class="menu-item">Sobre el robot</a>
                </div>
            </div>
            <a href="{% url 'robot' %}">
                <img src="{% static 'img/robot_bote.png' %}" alt="Logo de robot en bote"
                width="200px" height="200px">
            </a>
        </div>
        <hr color=#f7ce3e>
        <div class="body">
                {% block body_content %}
                    <p>Hola amiguito</p>
                {% endblock %}
        </div>
        <hr color=#f7ce3e>
        <div class="footer">
            <p>Creado por Alberto Alfaro utilizando Django, 2023.</p>
            <p>GNU General Public License v3.0.</p>
            <p>Repositorio disponible <a href="https://github.com/alfaro05/mecanismo_muelle/"><b>aquí</b></a>.</p>
        </div>
        <script src="{% static '/js/script.js'%}"></script>
    </div>
</body>
</html>