{% extends 'interfaz/base.html' %}
{% block title %}Sobre el robot{% endblock %}
{% block body_content %}
<h2>Acerca del robot</h2>
<p>
    En el área superior de la página, del lado derecho hay una ilustración. Corresponde
    al dibujo de un robot sobre un bote, que es una forma bonita de describir ese contacto
    entre la tecnología y las embarcaciones que busca este proyecto.
</p>
<p>
    Aunque el estilo parece una técnica de acuarela, la ilustración fue generada mediante
    inteligencia artificial, en particular la versión 3 de <a href="https://www.craiyon.com">Craiyon</a>.
    Por efectos de uso de este recurso sin licencia, la imagen se editó de manera que se mantiene
    el logotipo de Craiyon en la esquina inferior derecha.
</p>
<p>
    <b>Craiyon</b> es una herramienta excelente que permite generar imágenes geniales en unos
    pocos segundos. En particular la última versión. Gracias al esfuerzo de muchas personas
    se puede ilustrar este proyecto en unos pocos segundos y con unas pocas palabras para 
    generar el dibujo del robot.
</p>
{% endblock %}