{% extends 'interfaz/base.html' %}

{% block title %}Simulación{% endblock %}
{% block body_content %}
{% if error_flag %}
<p class="error">ERROR: Por favor escriba datos numéricos válidos usando un "." decimal.</p>
{% endif %}
<h2>Simulación</h2>
<p>
    En el diseño propuesto, los eslabones opuestos son de la misma longitud. De manera que
    los brazos tiene la misma longitud y la base tiene la misma longitud que la separación de
    los brazos en la superficie fija del muelle (eslabón 1). Asimismo, por el diseño, la posición angular de
    los eslabones está restringida a una única entrada, que corresponde a θ<sub>2</sub>. Esta
    cualidad también restringe la magnitud de la velocidad y aceleración angular.
</p>
<form action="resultados" method="post">
    {% csrf_token %}
    <div class="cool-form">
        <div class="form-column">
            <label><b><u>Sobre el mecanismo</u></b></label>
            <label for="l2">Largo del brazo (m)</label>
            <input type="text" name="l2">
            <label for="l3">Ancho de la base (m)</label>
            <input type="text" name="l3"> <br>
            <label><b><u>Sobre el movimiento</u></b></label>
            <label for="omega">Velocidad angular (rad/s)</label>
            <input type="text" name="omega">
            <label for="alpha">Aceleración angular (rad/s<sup>2</sup>)</label>
            <input type="text" name="alpha">
        </div>
        <div class="form-column">
            <label><b><u>Condiciones</u></b></label>
            <label>Distancia entre el</label>
            <label for="dist">bote y el muelle (m)</label>
            <input type="text" name="dist">
            <label>Altura hasta la</label>
            <label for="alt">superficie del agua (m)</label>
            <input type="text" name="alt">
            <label>Ángulo del brazo θ<sub>2</sub></label>
            <label for="theta">(antihorario,radianes)</label>
            <input type="text" name="theta">
        </div>
    </div>
    <div class="button-area">
        <input type="submit" value="Resultados" class="cool-button submit-button">
    </div>
</form>
    
{% endblock %}