{% extends 'interfaz/base.html' %}
{% block title %}Sobre el proyecto{% endblock %}
{% block body_content %}
<h2>¿Qué es esto?</h2>
<p>Esta página contiene una aplicación web sencilla que permite
    obtener información sobre el modelo de un mecanismo sencillo. Dicho
    mecanismo cuenta con 4 eslabones y corresponde a un diseño preliminar
    de un sistema para subir botes desde la superficie del agua hasta un
    muelle. El modelo es bastante simplificado y no se entra en detalles
    sobre la implementación.
</p>
<p>
    El proyecto se desarrolló principalmente con Python (versión 3.9.2).
    Para el uso de estos recursos se creó un archivo sencillo de Python,
    con un par de clases y todos los métodos requeridos para la ejecución
    del programa. Estos archivos son de acceso público en el repositorio
    de GitHub que se encuentra <a href="https://github.com/alfaro05/mecanismo_muelle/"><b>aquí</b></a>.
</p>
<p>
    La página fue desarrollada mediante Django. Todos los archivos requeridos
    también se pueden leer, copiar y modificar libremente a partir del repositorio,
    de acuerdo con los términos de la licencia.
</p>
{% endblock %}